
.main_page#Wan_Tao {
    width: 1000px;
    margin-right: 20px;
}
.main_page#from_new {
    width: auto;
}

main {
    display: flex;
    white-space: nowrap;
}

  
.main_page {
    display: inline-block;
    width: auto;
    white-space: normal; /* Восстановить нормальное поведение переноса строк внутри блока */
}
  
/* Избранная статья */
.main_page_head>h1>a {
    text-decoration: none;
    color: #000;
    background: none;
}

.main_page_subtitle {
    font-weight: normal;
    direction: ltr;
    color: #72777d;
    line-height: 1.25;
}

.main_page_head>h1, h2  {
    padding: 0;
    margin: 0;
}

figure {
    display: block;
    margin: 0 0 0.5em 0.5em;
    float: right;
}

.ooo {
    width: 20px;
    height: 20px;
} 

.main_page {
    font-family: sans-serif;
    color: #202122;
    font-size: 14px;
    line-height: 1.6;
    border: solid #c8ccd1;
    margin: 0 -1rem 1.5rem;
    border-radius: 2px;
    border-width: 1px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 1.5rem;
    padding: 1.5rem;
}


.main_page>span>b {
    padding: 5px 12px;
}

img {
    display: flex;
    float: right;
    width: 140px;
}


/* Верхнее приветственное окно */

.main {
    font-family: 'Linux Libertine','Georgia','Times','Source Serif Pro',serif;
    color: #202122;
    background-color: #f8f9fa;
    border: 1px solid #c8ccd1;
    box-shadow: 0 1px 1px rgba(0,0,0,.15);
    align-items: center;
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/e/e3/Wikipedia_logo_letters_banner.svg");
    background-position: right;
    display: flex;
    margin-bottom: 1.5rem;
    margin-top: 0.5rem;
    padding-bottom: 0;
    padding-left: 0;
    padding-top: 0;
    padding-right: 1.5rem;
}
.main-right {
    font-size: 15px;
}

.main-right>p>a {
    font-family: none;
}


.main-left {
    font-size: 15px;
    background-image: linear-gradient(to right,#f8f9fa 0%,#f8f9fa 70%,rgba(248,249,250,0)100%);
    flex: 2.5;
    padding: 24px 0 24px 16px;
}
.main-left>h1 {
    font-weight: normal;
}

.buttons-container>ul>li {
    display: inline;
    list-style: none;
}


a {
    color: #0645AD;
    text-decoration: none;
    background: none;
}


.main-left>p {
    font-family: sans-serif;
    color: #202122;
    line-height: 1.6;
    font-size: 14px;
    margin: 0;
}

.button-3 {
    background-color: #f9f9f9;
    border-color: #aaaaaa;
    color: #222222;
    display: inline-block;
    margin: 0;
    border-width: 1px;
    border-style: solid;
    border-radius: 0;
    vertical-align: middle;
    font-size: 1em;
    font-weight: bold;
    text-align: center;
    min-width: 4em;
    max-width: 28.75em;
    padding: 5px 12px;
}

.portal, .help {
    border: none;
}


/* Знаете ли вы */

.main_page>ul {
    font-weight: normal;
}
